# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Logs
*.log

# Environment secrets
.env
!.env.example

# macOS
.DS_Store

# Node
node_modules/

# Editor
.vscode/
.idea/


# Images
assets/House_Room_Dataset
assets/rooms-images.zip
assets/*

# Google credentials
services/langgraph-agent/google-credentials.json


ai_2701_key.pem